<!DOCTYPE html>
<html>
  <head>
    <title>Slick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <div class="test">
      <div class="slider">
        <%= image_tag 'image1' %>
        <%= image_tag 'image2' %>
        <%= image_tag 'image3' %>
        <%= image_tag 'image4' %>
        <%= image_tag 'image5' %>
      </div>
    </div>
  </body>
</html>
